
body{
    background: white;
    background-color: rgb(84, 166, 233);
}

div{
    border-color: black 3px solid ;
    position: relative;
    margin: 0;
    
}
div.container{  
    background-color: rgb(241, 221, 191);
    margin: auto;
    padding: 20;
    max-width: 600px;
    text-align: center;  
}
div.beuCat{
    padding-top: 10px;
}
p {
    font-size: x-large;
}

